h1 {
    color: aquamarine;
    font-size: medium;  

 }
 h2 {
    color: blueviolet;
    font-size: larger;
    font-family: monospace;
 } 
body {
    background-color: chartreuse;
    margin-top: 300px;
    margin-bottom: 400px;
    margin-right: 250px;
    margin-left: 500px;
 
}